.remoteBlock{
    min-height: 30vh;
    padding: 100px 0;
    background-color: #036280;
}
.remoteContainer {
    border: 1px solid;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 20vh;
    width: 80%;
}
.title{
    color: #fff;
    letter-spacing: 5px;
    margin: 0 0 30px;
    position: relative;
    text-transform: capitalize;
}
.title h2{
    font-family: Josefin Sans,sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}
.indent{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 15px;
}
.button{
    padding: 17px 30px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background-color: green;
    border-radius: 6px;
}

